<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32588697142-725v339887ma0vqjea6nr48f1tei3c2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32588697142-725v339887ma0vqjea6nr48f1tei3c2r</string>
	<key>API_KEY</key>
	<string>AIzaSyBDFDviEtdFMK0aZspH3F0XSTaEcRprC6k</string>
	<key>GCM_SENDER_ID</key>
	<string>32588697142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hse.kaganinaSHHUM</string>
	<key>PROJECT_ID</key>
	<string>shhum-6ddbb</string>
	<key>STORAGE_BUCKET</key>
	<string>shhum-6ddbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32588697142:ios:f28fffa8ae18a5f5221297</string>
</dict>
</plist>